<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new task</title>
</head>
<body>

<form th:method="POST" th:action="@{/tm}" th:object="${task}">

    <label for="taskName">Enter name: </label>
    <input type="text" th:field="*{taskName}" id="taskName"/>
    <div style="color:red" th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}">Name error</div>

    <br>
    <br>

    <label for="taskText">Enter text: </label>
    <input type="text" th:field="*{taskText}" id="taskText"/>
    <div style="color:red" th:if="${#fields.hasErrors('taskText')}" th:errors="*{taskText}">Text error</div>

    <br/>
    <br/>
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>